h1{
    background:url(backh.jpg);
    background-size: cover;
    color:black;
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: url(back1.jfif);
    background-size: cover;
}
p{  
    font-family: monospace ;
    margin-left: 20px;
    font-size: 22px;
    color:midnightblue;
    text-align: justify;
}
img{
    margin-left: 20px;
    width: 400px;
    height:250px;
}
li.one{
    margin-left: 20px;
    text-align:left;
    font-family: fantasy;
    font-size: 25px;
    color: darkblue;
}
li{
    margin-left: 20px;
    font-family: fantasy;
    font-size: 20px;
    color:black;
}
a{
    color: black;
}
div{
    background: url(backh.jpg);
    background-size: cover;
}
img{
    align-items: center;
}
